<!--{% extends "patients/layout.html" %}-->
<!--{% block content %}-->

<!--<div class="container">-->
<!--    <h6 class="display-4">View</h6>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <h1></h1>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-12 text-primary">-->
<!--                    <span class="label label-primary ">Tên bệnh nhân:{{Patient.Name}}</span>-->


<!--                    <span class="monospaced"></span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <p class="description">-->

<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-md-4">-->

<!--                </div>-->
<!--            </div>-->

<!--            <hr />-->

<!--            <ul class="list-group">-->
<!--                <li class="list-group-item"><span class="font-weight-bold">Tên :{{Patient.fullname}} </span></li>-->
<!--                <li class="list-group-item"><span class="font-weight-bold">Tuổi :{{Patient.age}} </span></li>-->
<!--                <li class="list-group-item"><span class="font-weight-bold">Chuẩn đoán : {{Patient.diagnostic}} </span></li>-->
<!--                <li class="list-group-item"><span class="font-weight-bold">Tiền sử bệnh : {{Patient.anamnesis}} </span></li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->